<!-- solo dejas lo que quieres que vaya dentro de body -->

    <h1>CREDITS OF Alicia</h1>
    <p> Hello, this is my page,hope you enjoy! </p>

    <img src = "/images/myAvatar.png" width="200"/>
<div style="overflow-x:auto">
    <table class="datosAlicia">
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Estudios</th>
    <th>Intereses</th>
  </tr>
  <tr>
    <td>Alicia Soria</td>
    <td>20</td>
    <td>Telecomunicaciones</td>
    <td>Varios</td>
  </tr>
</table>
</div>
