<h1>Crea tu propio quiz!</h1>
<form method="post" action="/quizzes">
  <p>Question</p>
  <input name="question"  placeholder="Question"/> </br>
  <p>Answer</p>
  <input name="answer"  placeholder="Answer"/></br>
  <input class="sub" type="submit" value="Create"/>



  </form>
